header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid black;
  position: fixed;
  display: flex;
  align-items: center;
}

.logo {
  color: MediumAquamarine;
  padding-left: 30px;
  display: flex;
  flex-grow: 1;
}

.logo h3 {
  padding: 0 10px;
}

header nav {
  display: block;
  padding-right: 40px;
}

nav a {
  color: black;
}

nav span {
  padding: 10px;
}
